
*{
    margin:0px;
    padding:0px;
}

.back {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    
}
.container{
    
    background:linear-gradient(to top right,#EEBE6C ,#CA7C4E);
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 2px;
    
   
}
.profile{
    display:block;
    margin-top: 50px;
    margin-left: 40px;
    border:snow 2px;
    border-radius: 4px;
    box-shadow:2px 2px 2px 2px rgb(0,0,0,0.3);
    width: 320px;
    height: 299px;
    background-color: rgb(247, 251, 251);
 
    
}
.left{
position:absolute;
display: block;
 width:197px;
 height: 100%;
 float:left;
 text-align: center;
 
}
.left .image{
    display:flex;
    margin-top: 30px;
    justify-content: center;
}

.image img{
    display: block;
    border-radius: 50px;
    
}
 .detail{ 
    box-sizing: border-box;
    width:100%;
    height:98px;
    margin-bottom:2px;
    text-align: center;
    padding-top: 28px;
    background-color:#f4e6dc;
    cursor: pointer;
    transition:all 0.5s ease-in-out;
 }
 .detail:hover {
    background-color:#f5d8c4;
 }
 .detail .value{
    display: block;
    font-size: 15px;
    color: #786450;
    font-weight: bold;
 }
 .detail .tag{
    font-size: 11px;
    color: #786450;
    font-weight: lighter;
 }
.right{
    float:right;
    display:block;
    width:40%;
    height: 100%;
}
.left .name{
    padding-top: 20px;
    text-align: center;
    color: #786450;
    font-size:16px;
}
.left .position span{
    padding-top:7px;
    font-size: 10px;
    color: #786450;
    font-weight:lighter;
}

.buttoms{
    display: block;
    margin-top: 30px;
    align-items: center;
    
}
 .contact{
    padding-bottom: 10px;
 }

.contact button{
    width: 130px;
    height: 35px;
    border-radius: 15px;
    color: #786450;
    border:solid 1px #786450;
    font-weight: bold;
    
}

.contact button:hover{
    background-color: #786450;
    color: white;

}
